[38;2;131;148;150m─────┬──────────────────────────────────────────────────────────────────────────[0m
     [38;2;131;148;150m│ [0m[1mSTDIN[0m
     [38;2;131;148;150m│ [0mSize: [1m-[0m
[38;2;131;148;150m─────┼──────────────────────────────────────────────────────────────────────────[0m
[38;2;131;148;150m   1[0m [38;2;131;148;150m│[0m [38;2;248;248;242mreference/[0m
[38;2;131;148;150m─────┴──────────────────────────────────────────────────────────────────────────[0m
